ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
    text-align: center;
}

h3 {
    text-align: center;
}

.dias {
    width: 100%;
    height: 4vh;
    /*border: none;*/
}

.dias:visited, .dias:hover {
    background-color: red;
}

.first-day-enero {
  grid-column-start: 5
}

.first-day-febrero {
    grid-column-start: 1;
}

.first-day-abril {
    grid-column-start: 4;
}

.first-day-mayo {
    grid-column-start: 6;
}

.first-day-junio {
    grid-column-start: 2;
}

.first-day-julio {
    grid-column-start: 4;
}

.first-day-agosto {
    grid-column-start: 7;
}

.first-day-septiembre {
    grid-column-start: 3;
}

.first-day-octubre {
    grid-column-start: 5;
}

.first-day-diciembre {
    grid-column-start: 3;
}

.day-name {
    background-color: none;
    font-weight: bold;
}

.day-name:hover {
    background-color: white;
}

li:hover, li:focus{
    background-color: lightgray;
}